In [1]:
import pandas as pd
from utils import fetch_df_from_external_api

In [2]:
df_ex = fetch_df_from_external_api()

df_client = pd.read_csv("vehicles.csv",sep=";")

df_ex_copy = df_ex.copy()
df_client_copy = df_client.copy()

In [3]:
df_client_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   gruppe    39 non-null     object
 1   kurzname  42 non-null     object
 2   langtext  31 non-null     object
 3   info      17 non-null     object
 4   lagerort  37 non-null     object
 5   labelIds  3 non-null      float64
dtypes: float64(1), object(5)
memory usage: 2.1+ KB

In [4]:
df_ex_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   rnr                 127 non-null    object
 1   gruppe              127 non-null    object
 2   kurzname            127 non-null    object
 3   langtext            127 non-null    object
 4   info                127 non-null    object
 5   sort                127 non-null    object
 6   lagerort            127 non-null    object
 7   lteartikel          127 non-null    object
 8   businessUnit        127 non-null    object
 9   vondat              126 non-null    object
 10  bisdat              8 non-null      object
 11  hu                  29 non-null     object
 12  asu                 8 non-null      object
 13  createdOn           92 non-null     object
 14  editedOn            127 non-null    object
 15  editedBy            0 non-null      object
 16  fuelConsumption     127 non-null    object
 17  priceInformation    121 non-null    object
 18  safetyCheckDate     1 non-null      object
 19  tachographTestDate  0 non-null      object
 20  gb1                 127 non-null    object
 21  ownerId             1 non-null      object
 22  userId              23 non-null     object
 23  externalId          120 non-null    object
 24  vin                 119 non-null    object
 25  labelIds            6 non-null      object
 26  customDataSchemas   127 non-null    object
 27  bleGroupEnum        8 non-null      object
 28  profilePictureUrl   98 non-null     object
 29  thumbPathUrl        98 non-null     object
dtypes: object(30)
memory usage: 29.9+ KB

In [7]:
df_client_copy['kurzname'].nunique()

42

In [8]:
df_ex_copy['kurzname'].nunique()

119

In [10]:
print(len(df_ex_copy) - df_ex_copy['kurzname'].nunique(),"duplicated value")

8 duplicated value

In [11]:
df_ex_copy = df_ex_copy[['rnr','gruppe','kurzname','langtext','info','lagerort','labelIds','hu']]

In [12]:
df_concatenated = pd.concat([df_ex_copy, df_client_copy], ignore_index=True)

In [13]:
df_concatenated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rnr       127 non-null    object
 1   gruppe    166 non-null    object
 2   kurzname  169 non-null    object
 3   langtext  158 non-null    object
 4   info      144 non-null    object
 5   lagerort  164 non-null    object
 6   labelIds  9 non-null      object
 7   hu        29 non-null     object
dtypes: object(8)
memory usage: 10.7+ KB

In [14]:
df_concatenated = df_concatenated.drop_duplicates(subset='kurzname', ignore_index=True)

In [15]:
df_concatenated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rnr       119 non-null    object
 1   gruppe    128 non-null    object
 2   kurzname  128 non-null    object
 3   langtext  125 non-null    object
 4   info      121 non-null    object
 5   lagerort  127 non-null    object
 6   labelIds  7 non-null      object
 7   hu        26 non-null     object
dtypes: object(8)
memory usage: 8.1+ KB

In [16]:
df_concatenated.dropna(subset=['hu'], inplace=True)

In [17]:
df_concatenated.info()

<class 'pandas.core.frame.DataFrame'>
Index: 26 entries, 0 to 106
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rnr       26 non-null     object
 1   gruppe    26 non-null     object
 2   kurzname  26 non-null     object
 3   langtext  26 non-null     object
 4   info      26 non-null     object
 5   lagerort  26 non-null     object
 6   labelIds  0 non-null      object
 7   hu        26 non-null     object
dtypes: object(8)
memory usage: 1.8+ KB